<Navbar [leftContent]="'返回'" (onLeftClick)="onLeftClick()"> 预约实验室</Navbar>
<div class="am-list-header">预约实验室</div>

<div class="am-list-body">
    <List [className]="'date-picker-list'">
        <ListItem DatePicker [extra]="currentDateFormat(day, 'yyyy-mm-dd')" [arrow]="'horizontal'" [mode]="'date'" [(ngModel)]="day" (onOk)="onOk($event)">
            预约时间
            <Brief>{{ name }}</Brief>
        </ListItem>
        <RadioItemGroup [(ngModel)]="amorpm">
            <RadioItem *ngFor="let i of amorpmData" [name]="i.name" [value]="i.value">
                {{ i.name }}
            </RadioItem>
        </RadioItemGroup>
    </List>
    <!-- <InputItem [type]="'text'" [clear]="true" [placeholder]="'预约时间'" [moneyKeyboardAlign]="'left'" [content]="'预约时间'" [(ngModel)]='day'>
    </InputItem> -->

    <!-- <InputItem [type]="'text'" [clear]="true" [placeholder]="'午别'" [moneyKeyboardAlign]="'left'" [content]="'午别'" [(ngModel)]='amorpm'>
    </InputItem>
    -->
    <WingBlank>
        <ng-template [ngTemplateOutlet]="placeHolderTmp"></ng-template>
    </WingBlank>
    <ng-template #placeHolderTmp>
        <div Button [type]="'primary'" (click)='appointmentLaboratory()'>预约</div>
    </ng-template>

</div>