<!-- <NoticeBar *ngIf="!isMobile" style="margin-bottom: 10px" [option]="{ content: '该组件只支持Touch事件，请使用移动模式/设备打开此页。', marqueeProps: { fps: 100 } }"></NoticeBar> -->
<PullToRefresh [ngStyle]="dtPullToRefreshStyle" [direction]="state.direction" [(ngModel)]="state.refreshState" [endReachedRefresh]="state.endReachedRefresh" (onRefresh)="pullToRefresh($event)">
    <ng-container *ngFor="let itemData of this.state.data" style="text-align: center; padding: 20px">
        <!-- <div Button (onClick)="showActionSheet(message)">showActionSheet</div> -->
        <ListItem [extra]="listRightTemplate" [arrow]="'horizontal'" multipleLine (onClick)='actionSheet(itemData)'>
            {{itemData.equName}}
            <Brief>{{itemData.equIntroduction}}</Brief>
        </ListItem>
        <ng-template #listRightTemplate>
            <div>{{itemData.queType}}</div>
        </ng-template>
    </ng-container>

</PullToRefresh>

<ng-template #loading>
    <Icon type="loading"></Icon>
</ng-template>