<Navbar [leftContent]="'返回'" (onLeftClick)="onLeftClick()"> 添加设备</Navbar>
<div class="am-list-header">添加设备</div>
<div class="am-list-body">
    <InputItem [type]="'text'" [clear]="true" [placeholder]="'设备名称'" [moneyKeyboardAlign]="'left'" [content]="'设备名称'" [(ngModel)]='equName'>
    </InputItem>
    <InputItem [type]="'text'" [clear]="true" [placeholder]="'设备描述'" [moneyKeyboardAlign]="'left'" [content]="'设备描述 '" [(ngModel)]='equIntroduction'>
    </InputItem>
    <InputItem [type]="'text'" [clear]="true" [placeholder]="'设备类型'" [moneyKeyboardAlign]="'left'" [content]="'设备类型 '" [(ngModel)]='queType'>
    </InputItem>
    <WingBlank>
        <ng-template [ngTemplateOutlet]="placeHolderTmp"></ng-template>
    </WingBlank>
    <ng-template #placeHolderTmp>
        <div Button [type]="'primary'" (click)='addEquipment()'>保存</div>
    </ng-template>

</div>