<ng-template #icon>
    <Icon [type]="'left'"></Icon>
</ng-template>
<TabBar [hidden]="hidden" [barTintColor]="'white'" [tintColor]="tintColor" [ngStyle]="tabbarStyle" [activeTab]="selectedIndex" [unselectedTintColor]="unselectedTintColor" [tabBarPosition]="topFlag ? 'top' : 'bottom'" (onPress)="tabBarTabOnPress($event)">
    <TabBarItem [title]="'实验室'" [icon]="icon1" [selectedIcon]="icon11">
        <ng-template #icon1>
            <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/sifuoDUQdAFKAVcFGROC.svg') center center / 21px 21px no-repeat;"></div>
        </ng-template>
        <ng-template #icon11>
            <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/iSrlOTqrKddqbOmlvUfq.svg') center center / 21px 21px no-repeat;"></div>
        </ng-template>
        <div style="background-color: white; height: 100%; text-align: center">
            <ng-container>
                <Navbar [rightContent]="rightContent"> 实验室</Navbar>

                <ng-template #rightContent>
                    <div (click)='addLaboratory()'>添加</div>
                </ng-template>
                <ng-template [ngTemplateOutlet]="laboratoryList"></ng-template>
            </ng-container>
        </div>
    </TabBarItem>
    <TabBarItem [title]="'设备管理'" [icon]="icon2" [selectedIcon]="icon22">
        <ng-template #icon2>
            <div style="width:22px;height: 22px;background: url('https://gw.alipayobjects.com/zos/rmsportal/BTSsmHkPsQSPTktcXyTV.svg') center center / 21px 21px no-repeat;"></div>
        </ng-template>
        <ng-template #icon22>
            <div style="width:22px;height: 22px;background: url('https://gw.alipayobjects.com/zos/rmsportal/ekLecvKBnRazVLXbWOnE.svg') center center / 21px 21px no-repeat;"></div>
        </ng-template>
        <div style="background-color: white; height: 100%; text-align: center">
            <ng-container>
                <Navbar [rightContent]="rightContentA"> 设备</Navbar>
                <ng-template [ngTemplateOutlet]="equipmentList"></ng-template>
                <ng-template #rightContentA>
                    <div (click)='addEquipment()'>添加</div>
                </ng-template>
            </ng-container>
        </div>
    </TabBarItem>
    <TabBarItem [title]="'报修管理'" [icon]="icon3" [selectedIcon]="icon33">
        <ng-template #icon3>
            <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/psUFoAMjkCcjqtUCNPxB.svg') center center / 21px 21px no-repeat;"></div>
        </ng-template>
        <ng-template #icon33>
            <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/IIRLrXXrFAhXVdhMWgUI.svg') center center / 21px 21px no-repeat;"></div>
        </ng-template>
        <div style="background-color: white; height: 100%; text-align: center">
            <ng-container>
                <Navbar>报修管理</Navbar>
                <ng-template [ngTemplateOutlet]="repairList"></ng-template>
            </ng-container>
        </div>
    </TabBarItem>
    <TabBarItem [title]="'预约管理'" [icon]="icon4" [selectedIcon]="icon44">
        <ng-template #icon4>
            <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/asJMfBrNqpMMlVpeInPQ.svg') center center / 21px 21px no-repeat;"></div>
        </ng-template>
        <ng-template #icon44>
            <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/gjpzzcrPMkhfEqgbYvmN.svg') center center / 21px 21px no-repeat;"></div>
        </ng-template>
        <div style="background-color: white; height: 100%; text-align: center">
            <ng-container>
                <Navbar>预约管理</Navbar>
                <ng-template [ngTemplateOutlet]="appointmentList"></ng-template>
            </ng-container>
        </div>
    </TabBarItem>
</TabBar>
<ng-template #laboratoryList>
    <app-laboratory-list></app-laboratory-list>
</ng-template>
<ng-template #equipmentList>
    <app-equipment-list></app-equipment-list>
</ng-template>
<ng-template #repairList>
    <app-repair-list></app-repair-list>
</ng-template>
<ng-template #appointmentList>
    <app-appointment-list></app-appointment-list>
</ng-template>